@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

/* Color Variables */
.color-primary{
  color: hsl(172, 67%, 15%)
}

.color-secondary-extra-dark{
  color: hsl(183, 100%,18%)
}

.color-secondary-dark{
  color: hsl(186, 14%, 43%)
}

.color-secondary-lighter-dark{
  color: hsl(184, 14%, 56%)
}

.color-secondary-light{
  color: hsl(185, 41%, 84%)
}

.color-secondary-lighter{
  color: hsl(189, 41%, 97%)
}

.color-lightest{
  color: hsl(0,0,100%)
}

.color-active{
  color: hsl(154, 69%, 53%);
}
/* Background Colors*/
.background-primary{
  background-color: hsl(172, 67%, 15%)
}

.background-secondary-extra-dark{
  background-color: hsl(183, 100%,18%)
}

.background-secondary-dark{
  background-color: hsl(186, 14%, 43%)
}

.background-secondary-lighter-dark{
  background-color: hsl(184, 14%, 56%);
}

.background-secondary-light{
  background-color: hsl(185, 41%, 84%);
}

.background-secondary-lighter{
  background-color: hsl(189, 41%, 97%);
}

.background-lightest{
  background-color: white
}
/* Elements */
html{
  height: 100%;
  font-family: 'Space Mono', monospace;
}

input{
  width: 80%;
  border-width: 2px;
  background-color: hsl(185, 41%, 84%);
  color: var(--color-primary);
  border-color: hsl(185, 41%, 84%);
  border-style: solid;
  outline: none;
  padding: 10px 20px 10px 40px;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: +2px;
  text-align: right;
  border-radius: 10px;
  font-family: 'Space Mono', monospace;
}

input:focus{
  border-width: 2px;
  border-color: hsl(154, 69%, 53%);
}

.dollar-icon{
  background-image: url('icon-dollar.svg');
  background-repeat: no-repeat;
  background-position: 10px 20px;
}

.dollar-icon::-webkit-outer-spin-button,
.dollar-icon::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}

.person-icon{
  background-image: url('icon-person.svg');
  background-repeat: no-repeat;
  background-position: 10px 20px;
}

.person-icon::-webkit-outer-spin-button,
.person-icon::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}
.body{
  font-family: 'Space Mono', monospace;
  font-size: 24px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.interface {
  padding: 2em;
  justify-content: center;
  display: flex;
  align-items: center;
  min-height: 50%;
  min-width: 50%;
  margin: auto;
  border-radius: 15px;
}

.output{
  padding: 2em;
  margin: 0 0 0 2em;
  color: hsl(185, 41%, 84%);
  min-width: 35%;
  border-radius: 15px;
  font-family: 'Space Mono', monospace;
}

.input{
  display: flex;
  flex-direction: column;
  color: hsl(186, 14%, 43%);
  min-width: 35%;
  font-family: 'Space Mono', monospace;
}

.breakdown{
  padding: 0 0 3em 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.padding-under{
  padding-bottom: 2em;
}

.per-person{
  color: hsl(186, 14%, 43%);
  font-size: 18px;
}

button{
  border: none;
  width: 100%;
  font-size: 20px;
  padding: 0.5em;
  text-align: center;
  border-radius: 4px;
  background-color:  hsl(154, 69%, 53%);
  color:hsl(172, 67%, 15%)
}

button:active{
  background-color: hsl(154, 49%, 73%);
}

button:disabled{
  background-color: hsl(173, 60%, 24%);
}

.custom-radio{
  display: flex;
  flex-wrap: wrap;
}

.radio-label {
  display:flex;
  background: hsl(172, 67%, 15%);
  border-radius: 4px;
  padding: 10px;
  width: 25%;
  color: white;
  margin: 5px;
  justify-content: center;
}

.radio-label:hover{
  cursor: pointer;
  background: hsl(172, 67%, 30%)
}

.radio-button:checked + label {
  background: hsl(154, 69%, 53%);
  box-shadow:rgb(79, 79, 79);
}

.radio-button {
  display: none;
}

.radio-input{
  font-size: 24px;
  font-weight: 400;
  display:flex;
  background: hsl(185, 41%, 84%);
  padding: 8px;
  width: 25%;
  color: hsl(172, 67%, 15%);
  margin: 5px;
  justify-content: center;
  border-radius: 4px;
  text-align: center;
  outline-color: hsl(172, 67%, 15%);
  outline: 2px;
  outline-offset: -10;
  text-align: right;
}

.radio-input::-webkit-outer-spin-button,
.radio-input::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}

::placeholder{
  color: var(--color-primary);
  font-family: 'Space Mono', monospace;
}

.radio-input::placeholder{
  text-align: center;
}

.small-padding{
  margin-top: 4px;
}

.amount-result{
  display: flex;
  align-items: center;
  font-size: 42px;
  justify-content: space-between;
  color: hsl(154, 69%, 53%);
}

.total-result{
  display: flex;
  align-items: center;
  font-size: 42px;
  justify-content: space-between;
  color: hsl(154, 69%, 53%);
}

.tip-amount{
  color: hsl(185, 41%, 84%);
  font-size: 24px;
}

.total-per-person{
  color: hsl(185, 41%, 84%);
  font-size: 24px;
}