@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

/* Color Variables */
.color-primary{
  color: hsl(172, 67%, 15%)
}

.color-secondary-extra-dark{
  color: hsl(183, 100%,18%)
}

.color-secondary-dark{
  color: hsl(186, 14%, 43%)
}

.color-secondary-lighter-dark{
  color: hsl(184, 14%, 56%)
}

.color-secondary-light{
  color: hsl(185, 41%, 84%)
}

.color-secondary-lighter{
  color: hsl(189, 41%, 97%)
}

.color-lightest{
  color: hsl(0,0,100%)
}
/* Background Colors*/
.background-primary{
  background-color: hsl(172, 67%, 15%)
}

.background-secondary-extra-dark{
  background-color: hsl(183, 100%,18%)
}

.background-secondary-dark{
  background-color: hsl(186, 14%, 43%)
}

.background-secondary-lighter-dark{
  background-color: hsl(184, 14%, 56%);
}

.background-secondary-light{
  background-color: hsl(185, 41%, 84%);
}

.background-secondary-lighter{
  background-color: hsl(189, 41%, 97%);
}

.background-lightest{
  background-color: white
}
/* Elements */
html{
  height: 100%;
}

input{
  width: 100%;
  background-color: hsl(185, 41%, 84%);
  color: var(--color-primary);
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 10px 0px 10px 0px;
  text-indent: 40px;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: +2px;
}

.dollar-icon{
  background-image: url('icon-dollar.svg');
  background-repeat: no-repeat;
  background-position: 10px 15px;
}

.person-icon{
  background-image: url('icon-person.svg');
  background-repeat: no-repeat;
  background-position: 10px 15px;
}
.body{
  font-family: 'Space Mono', monospace;
  font-size: 24px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.interface {
  padding: 2em;
  justify-content: center;
  display: flex;
  align-items: center;
  min-height: 50%;
  min-width: 50%;
  margin: auto;
  border-radius: 15px;
}

.output{
  padding: 2em;
  margin: 0 0 0 2em;
  color: hsl(185, 41%, 84%);
  min-width: 35%;
  border-radius: 15px;
}

.input{
  display: flex;
  flex-direction: column;
  color: hsl(186, 14%, 43%);
  min-width: 35%;
}

.breakdown{
  padding: 0 0 5em 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.padding-under{
  padding-bottom: 3em;
}

.per-person{
  color: hsl(186, 14%, 43%);
  font-size: 18px;
}

.button{
  padding: 1em;
  text-align: center;
  border-radius: 15px;
  background-color: hsl(183, 100%,18%);
  color:hsl(172, 67%, 15%)
}
